[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "==1.4.0"
pymysql = "==0.9.3"
tornado = "==6.0.3"
ipy = "==1.0"
requests = "*"
dynaconf = "*"
websocket-client = "*"

[requires]
python_version = "3.7"
